* {
    font-family: 'Avenir Next for Best Buy', 'Open Sans', 'Roboto', 'Arial' !important;
}
.logo {
    display: block;
    float: left;
    margin: 0;
}

.swagger-section #header {
    background-color: #003b64;
    padding: 16px 14px 25px 2px;
}

#input_baseUrl, .swagger-section #explore {
    visibility: hidden;
}

#input_baseUrl input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
#input_baseUrl input[type="text"]:focus,
#input_baseUrl input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.swagger-section #header #logo .logo__title {
    font-weight: 100;
    padding: 7px 0 0 15px;
    font-size: 0.9em
}
